@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Podkova:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-podkova: Podkova;
  --font-lato: Lato;
  --font-roboto: Roboto;
  --font-monda: Monda;
  --font-manjari: Manjari;

  /* font sizes */
  --font-size-3xs: 12px;
  --font-size-2xs: 14px;
  --font-size-xs: 16px;
  --font-size-sm: 18px;
  --font-size-base: 20px;
  --font-size-lg: 25px;
  --font-size-xl: 36px;

  /* Colors */
  --color-white: #fff;
  --color-indigo-100: #282a63;
  --color-gray-100: #f1eded;
  --color-gray-200: #efece8;
  --color-gray-300: #dadada;
  --color-gray-400: #1a2028;
  --color-gray-500: #181c2f;
  --color-brown: #f44a4a;
  --color-black: #000;
  --color-gold: #ffd600;

  /* border radiuses */
  --br-xs: 6px;
  --br-sm: 24px;
  --br-md: 29px;
  --br-lg: 80px;
  --br-xl: 100px;
}
