@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  to {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.rectangleDiv,
.rectangleIframe {
  position: absolute;
  left: 0;
  width: 1440px;
}
.rectangleDiv {
  top: 0;
  background-color: var(--color-indigo-100);
  height: 1082px;
}
.rectangleIframe {
  border: 0;
  top: 2539px;
  background-color: rgba(61, 67, 231, 0.1);
  height: 862px;
}
.rectangleDiv1,
.rectangleDiv2 {
  position: absolute;
  top: 2968px;
  border-radius: var(--br-md);
  height: 58px;
}
.rectangleDiv1 {
  left: 828px;
  background-color: var(--color-white);
  width: 179px;
}
.rectangleDiv2 {
  left: 1027px;
  border: 1px solid var(--color-gold);
  box-sizing: border-box;
  width: 175px;
}
.rectangleDiv3 {
  position: absolute;
  top: 3399px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 397px;
}
.groupIcon {
  position: absolute;
  top: 616px;
  left: 929px;
  width: 158px;
  height: 158px;
}
.groupIcon1,
.groupIcon2,
.groupIcon3,
.groupIcon4 {
  position: absolute;
  top: 282px;
  left: 730px;
  width: 158px;
  height: 158px;
}
.groupIcon2,
.groupIcon3,
.groupIcon4 {
  top: 1503px;
  left: 1112px;
}
.groupIcon3,
.groupIcon4 {
  top: 2081px;
  left: 170px;
}
.groupIcon4 {
  top: 3184px;
  left: 612px;
}
.haveYourBest {
  margin-block-start: 0;
  margin-block-end: 0;
}
.callP {
  margin: 0;
}
.haveYourBestCall {
  margin: 0;
  position: absolute;
  top: 440px;
  left: 140px;
  font-size: 76px;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-white);
  display: inline-block;
  width: 642px;
  height: 154px;
}
.instantConferenceCalls,
.perfectSollutionForSmallBu {
  margin: 0;
  position: absolute;
  top: 1221px;
  left: 460px;
  font-size: 47px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 519px;
  height: 46px;
}
.perfectSollutionForSmallBu {
  top: 2655px;
  left: 828px;
  font-size: 67px;
  width: 509px;
  height: 305px;
}
.knowlwdgeH4,
.loremIpsumDolorSitAme,
.loremIpsumDolorSitAmeLoolo,
.loremIpsumDolorSitAmetCo,
.supportH4 {
  margin: 0;
  position: absolute;
  font-size: inherit;
  line-height: 146.36%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  opacity: 0.7;
}
.loremIpsumDolorSitAmetCo {
  top: 1289px;
  left: 392px;
  text-align: center;
  width: 656px;
  height: 239px;
}
.knowlwdgeH4,
.loremIpsumDolorSitAme,
.loremIpsumDolorSitAmeLoolo,
.supportH4 {
  height: 40px;
}
.loremIpsumDolorSitAme {
  top: 2891px;
  left: 780px;
  text-align: center;
  width: 336px;
}
.knowlwdgeH4,
.loremIpsumDolorSitAmeLoolo,
.supportH4 {
  top: 3509px;
  left: 140px;
  width: 197px;
}
.knowlwdgeH4,
.supportH4 {
  top: 3516px;
  left: 533px;
  width: 79px;
}
.knowlwdgeH4 {
  top: 3555px;
  width: 113px;
}
.span {
  font-size: 26px;
}
.copyrightWithKaranSparrow {
  line-height: 146.36%;
}
.copyrightWithKaranSparrowI {
  margin: 0;
  position: absolute;
  top: 3716px;
  left: 140px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 373px;
  height: 40px;
  opacity: 0.7;
  font-size: inherit;
}
.aboutUsH4,
.allRightsReceived,
.carrersH4,
.contactUsH4,
.fileSharingH4,
.h4,
.infochatappcomH4,
.iosAndroidApps,
.screenShareingH4 {
  margin: 0;
  position: absolute;
  line-height: 146.36%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  height: 40px;
  opacity: 0.7;
}
.allRightsReceived {
  top: 3756px;
  left: 140px;
  font-size: var(--font-size-xs);
  width: 373px;
}
.aboutUsH4,
.carrersH4,
.contactUsH4,
.fileSharingH4,
.h4,
.infochatappcomH4,
.iosAndroidApps,
.screenShareingH4 {
  top: 3514px;
  left: 731px;
  font-size: inherit;
  width: 158px;
}
.aboutUsH4,
.carrersH4,
.contactUsH4,
.fileSharingH4,
.h4,
.infochatappcomH4,
.iosAndroidApps {
  left: 929px;
  width: 96px;
}
.carrersH4,
.contactUsH4,
.fileSharingH4,
.h4,
.infochatappcomH4,
.iosAndroidApps {
  left: 1123px;
  width: 177px;
}
.carrersH4,
.contactUsH4,
.fileSharingH4,
.h4,
.iosAndroidApps {
  top: 3553px;
  left: 731px;
  width: 186px;
}
.carrersH4,
.contactUsH4,
.fileSharingH4,
.h4 {
  left: 929px;
  width: 79px;
}
.contactUsH4,
.fileSharingH4,
.h4 {
  left: 1123px;
  width: 162px;
}
.contactUsH4,
.fileSharingH4 {
  top: 3593px;
  left: 731px;
  width: 147px;
}
.contactUsH4 {
  left: 929px;
  width: 111px;
}
.deerParkPaloAltoCA {
  top: 3593px;
  left: 1123px;
  width: 170px;
  height: 40px;
  opacity: 0.7;
}
.compenyH4,
.contactUsH41,
.deerParkPaloAltoCA,
.featuresH4,
.helpH4,
.userManagementH4 {
  margin: 0;
  position: absolute;
  font-size: inherit;
  line-height: 146.36%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.userManagementH4 {
  top: 3633px;
  left: 731px;
  width: 176px;
  height: 40px;
  opacity: 0.7;
}
.compenyH4,
.contactUsH41,
.featuresH4,
.helpH4 {
  top: 3468px;
  left: 533px;
  width: 43px;
  height: 20px;
}
.compenyH4,
.contactUsH41,
.featuresH4 {
  left: 730px;
  width: 86px;
}
.compenyH4,
.contactUsH41 {
  left: 925px;
  width: 91px;
}
.contactUsH41 {
  left: 1123px;
  width: 113px;
}
.businessChatAppAndRateItA {
  position: absolute;
  top: 3110px;
  left: 1027px;
  text-align: center;
  display: inline-block;
  width: 243px;
  height: 40px;
  opacity: 0.7;
}
.fastEasyUnlimitedConfere {
  position: absolute;
  top: 677px;
  left: 140px;
  font-family: var(--font-roboto);
  color: var(--color-white);
  display: inline-block;
  width: 468px;
  height: 33px;
}
.rectangleButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  width: 177px;
  height: 58px;
}
.tryFreeH3 {
  margin: 0;
  position: absolute;
  top: 6px;
  left: 43px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 96px;
  height: 46px;
}
.groupA,
.tryFreeH2 {
  position: absolute;
  font-size: var(--font-size-lg);
  font-family: var(--font-monda);
}
.groupA {
  text-decoration: none;
  top: 740px;
  left: 140px;
  width: 177px;
  height: 58px;
  cursor: pointer;
  color: inherit;
}
.tryFreeH2 {
  margin: 0;
  top: 2974px;
  left: 880px;
  font-weight: 400;
  display: inline-block;
  width: 96px;
  height: 46px;
}
.rectangleDiv4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  border: 1px solid var(--color-gold);
  box-sizing: border-box;
  width: 176px;
  height: 58px;
}
.getDemoH2 {
  margin: 0;
  position: absolute;
  top: 6px;
  left: 29px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 127px;
  height: 46px;
}
.getDemoH21,
.groupA1 {
  position: absolute;
  font-size: var(--font-size-lg);
  font-family: var(--font-monda);
}
.groupA1 {
  text-decoration: none;
  top: 740px;
  left: 337px;
  width: 176px;
  height: 58px;
  cursor: pointer;
  color: var(--color-white);
}
.getDemoH21 {
  margin: 0;
  top: 2974px;
  left: 1059px;
  font-weight: 400;
  display: inline-block;
  width: 178px;
  height: 46px;
}
.pexelsAndreaPiacquadio77490Icon,
.pexelsRodolfoQuirs2219118Icon {
  position: absolute;
  top: 506px;
  left: 1106px;
  width: 194px;
  height: 294px;
  object-fit: cover;
}
.pexelsRodolfoQuirs2219118Icon {
  top: 328px;
  left: 764px;
  width: 292px;
  height: 366px;
}
.item3Icon,
.item4Button {
  position: absolute;
  top: 894px;
  left: 910px;
}
.item3Icon {
  top: 807px;
  left: 777px;
  width: 325.73px;
  height: 53.56px;
}
.item2BsButton {
  width: 323.5084533691406px;
  position: absolute;
  top: 79.35px;
  left: 447.33px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.chatDiv,
.item1MuiButton,
.messagesDiv {
  position: absolute;
  top: 0;
  left: 0;
}
.chatDiv,
.messagesDiv {
  width: 447.33px;
  height: 143.88px;
}
.chatDiv {
  top: 172px;
  left: 853px;
}
.chatapp,
.contact,
.productH5,
.seemlessA {
  font-family: var(--font-podkova);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.chatapp {
  text-decoration: none;
  position: absolute;
  top: 46px;
  left: 119px;
  font-size: var(--font-size-xl);
  width: 177px;
  height: 52px;
}
.contact,
.productH5,
.seemlessA {
  top: 57px;
  width: 105px;
  height: 30px;
}
.productH5 {
  margin: 0;
  position: absolute;
  left: 1063px;
  font-size: inherit;
  font-weight: 400;
}
.contact,
.seemlessA {
  text-decoration: none;
}
.contact {
  position: absolute;
  left: 962px;
  cursor: pointer;
}
.seemlessA {
  left: 861px;
}
.priceA,
.rectangleButton1,
.seemlessA {
  cursor: pointer;
  position: absolute;
}
.priceA {
  text-decoration: none;
  top: 57px;
  left: 760px;
  font-family: var(--font-podkova);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 105px;
  height: 30px;
}
.rectangleButton1 {
  border: 0;
  padding: 0;
  background-color: #d9d9d9;
  top: 48px;
  left: 1200px;
  border-radius: 22px;
  width: 132px;
  height: 43px;
  opacity: 0;
}
.rectangleButton1.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.rectangleButton1:hover {
  animation: 1s ease 0s infinite normal none bounce-top;
  opacity: 1;
}
.tryItFree {
  margin: 0;
  position: absolute;
  top: 57px;
  left: 1213px;
  font-size: inherit;
  font-weight: 400;
  font-family: var(--font-podkova);
  text-align: center;
  display: inline-block;
  width: 105px;
  height: 30px;
}
.backgroundCardDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 60px 80px rgba(0, 0, 0, 0.1);
  width: 1008px;
  height: 576px;
}
.placeholderDiv,
.placeholderDiv1 {
  position: absolute;
  left: 0;
  width: 390.96px;
  height: 51.84px;
}
.placeholderDiv1 {
  top: 0;
  background-color: var(--color-white);
  box-shadow: 0-8px 30px rgba(0, 0, 0, 0.05);
}
.placeholderDiv {
  top: 18.72px;
}
.baseDiv,
.typeAMessageHere {
  position: absolute;
  mix-blend-mode: normal;
}
.baseDiv {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  opacity: 0.4;
}
.typeAMessageHere {
  top: 12px;
  left: 62px;
  line-height: 22px;
  display: inline-block;
  opacity: 0.3;
}
.inputDiv {
  position: absolute;
  top: 27.36px;
  left: 21.6px;
  width: 336.24px;
  height: 34.56px;
  overflow: hidden;
}
.attachFileIcon {
  position: absolute;
  top: 37.44px;
  left: 36px;
  width: 15.84px;
  height: 14.4px;
}
.addEmojiIcon,
.microphoneIcon {
  position: absolute;
  top: 36px;
  left: 303.12px;
  width: 10.8px;
  height: 17.28px;
}
.addEmojiIcon {
  top: 38.16px;
  left: 270.72px;
  width: 14.4px;
  height: 14.4px;
}
.combinedShapeIcon {
  position: relative;
  width: 247.68px;
  height: 34.56px;
}
.optionsIcon {
  position: absolute;
  top: calc(50% - 6.28px);
  right: 24.68px;
  width: 26px;
  height: 6px;
  opacity: 0.3;
  mix-blend-mode: normal;
}
.div,
.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7 {
  position: absolute;
  width: 6.58%;
  top: calc(50% - 13.36px);
  right: 2.06%;
  left: 91.36%;
  display: inline-block;
}
.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7 {
  right: 15.23%;
  left: 78.19%;
}
.div2,
.div3,
.div4,
.div5,
.div6,
.div7 {
  right: 28.81%;
  left: 64.61%;
}
.div3,
.div4,
.div5,
.div6,
.div7 {
  right: 41.98%;
  left: 51.44%;
}
.div4,
.div5,
.div6,
.div7 {
  right: 54.32%;
  left: 39.09%;
}
.div5,
.div6,
.div7 {
  right: 67.08%;
  left: 26.34%;
}
.div6,
.div7 {
  right: 80.25%;
  left: 13.17%;
}
.div7 {
  right: 93.42%;
  left: 0;
}
.emojiDiv,
.emojiListDiv {
  position: absolute;
  overflow: hidden;
}
.emojiDiv {
  height: 54.17%;
  width: 70.64%;
  top: 16.67%;
  right: 22.09%;
  bottom: 29.17%;
  left: 7.27%;
}
.emojiListDiv {
  top: 0;
  left: 75.6px;
  width: 247.68px;
  height: 34.56px;
  font-family: var(--font-roboto);
}
.sendButtonIcon {
  position: absolute;
  top: 7.92px;
  left: 307.92px;
  width: 85.44px;
  height: 85.44px;
}
.placeholderIcon,
.sendMessageDiv {
  position: absolute;
  top: 485.28px;
  left: 0;
  width: 390.96px;
  height: 70.56px;
}
.placeholderIcon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.span1 {
  font-family: var(--font-roboto);
}
.valueDiv {
  position: absolute;
  width: 85.37%;
  top: calc(50% - 14.16px);
  right: 7.98%;
  left: 6.65%;
  line-height: 18px;
  display: inline-block;
  height: 18px;
}
.messageDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 270.72px;
  height: 40.32px;
  overflow: hidden;
}
.today0618AM {
  position: absolute;
  width: 100%;
  top: calc(50% - 6.32px);
  right: 0;
  left: 0;
  line-height: 12px;
  display: inline-block;
  height: 12px;
}
.dateDiv {
  position: absolute;
  top: 42.48px;
  left: 190.08px;
  width: 62.64px;
  height: 8.64px;
  overflow: hidden;
  opacity: 0.3;
  mix-blend-mode: normal;
  text-align: right;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-400);
}
.item4Div {
  position: absolute;
  top: 235.44px;
  left: 98.64px;
  width: 270.72px;
  height: 51.12px;
}
.valueB {
  position: absolute;
  width: 8.22%;
  top: calc(50% - 12.64px);
  right: 5.56%;
  left: 86.22%;
  line-height: 22px;
  display: inline-block;
}
.rectangle187Copy3,
.rectangle187Copy4 {
  position: absolute;
  height: 11.11%;
  width: 1.02%;
  top: 122.22%;
  right: -25.6%;
  bottom: -33.33%;
  left: 124.57%;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-300);
}
.rectangle187Copy4 {
  right: -27.3%;
  left: 126.28%;
}
.rectangle187Copy,
.rectangle187Copy2,
.rectangleDiv5,
.rectangleDiv6,
.rectangleDiv7,
.rectangleDiv8,
.rectangleDiv9 {
  position: absolute;
  height: 25.93%;
  width: 1.02%;
  top: 114.81%;
  right: -22.18%;
  bottom: -40.74%;
  left: 121.16%;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-300);
}
.rectangle187Copy,
.rectangleDiv5,
.rectangleDiv6,
.rectangleDiv7,
.rectangleDiv8,
.rectangleDiv9 {
  height: 81.48%;
  top: 88.89%;
  right: -13.65%;
  bottom: -70.37%;
  left: 112.63%;
}
.rectangle187Copy,
.rectangleDiv6,
.rectangleDiv7,
.rectangleDiv8,
.rectangleDiv9 {
  height: 55.56%;
  top: 100%;
  right: -15.36%;
  bottom: -55.56%;
  left: 114.33%;
}
.rectangle187Copy,
.rectangleDiv7,
.rectangleDiv8,
.rectangleDiv9 {
  height: 51.85%;
  top: 103.7%;
  right: -17.06%;
  left: 116.04%;
}
.rectangle187Copy,
.rectangleDiv8,
.rectangleDiv9 {
  height: 44.44%;
  top: 107.41%;
  right: -18.77%;
  bottom: -51.85%;
  left: 117.75%;
}
.rectangle187Copy,
.rectangleDiv9 {
  height: 33.33%;
  top: 111.11%;
  right: -20.48%;
  bottom: -44.44%;
  left: 119.45%;
}
.rectangle187Copy {
  height: 18.52%;
  top: 118.52%;
  right: -23.89%;
  bottom: -37.04%;
  left: 122.87%;
}
.rectangleDiv10,
.rectangleDiv11,
.rectangleDiv12,
.rectangleDiv13,
.rectangleDiv14,
.rectangleDiv15 {
  position: absolute;
  height: 100%;
  width: 1.02%;
  top: 77.78%;
  right: -11.95%;
  bottom: -77.78%;
  left: 110.92%;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-300);
}
.rectangleDiv11,
.rectangleDiv12,
.rectangleDiv13,
.rectangleDiv14,
.rectangleDiv15 {
  height: 48.15%;
  top: 103.7%;
  right: -10.24%;
  bottom: -51.85%;
  left: 109.22%;
}
.rectangleDiv12,
.rectangleDiv13,
.rectangleDiv14,
.rectangleDiv15 {
  height: 55.56%;
  top: 100%;
  right: -8.53%;
  bottom: -55.56%;
  left: 107.51%;
}
.rectangleDiv13,
.rectangleDiv14,
.rectangleDiv15 {
  right: -6.83%;
  left: 105.8%;
}
.rectangleDiv14,
.rectangleDiv15 {
  height: 44.44%;
  top: 107.41%;
  right: -5.12%;
  bottom: -51.85%;
  left: 104.1%;
}
.rectangleDiv15 {
  height: 48.15%;
  top: 103.7%;
  right: -3.41%;
  left: 102.39%;
}
.rectangleDiv16,
.rectangleDiv17,
.rectangleDiv18,
.rectangleDiv19,
.rectangleDiv20,
.rectangleDiv21 {
  position: absolute;
  height: 70.37%;
  width: 1.02%;
  top: 92.59%;
  right: -1.71%;
  bottom: -62.96%;
  left: 100.68%;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-300);
}
.rectangleDiv17,
.rectangleDiv18,
.rectangleDiv19,
.rectangleDiv20,
.rectangleDiv21 {
  height: 55.56%;
  top: 100%;
  right: 0;
  bottom: -55.56%;
  left: 98.98%;
}
.rectangleDiv18,
.rectangleDiv19,
.rectangleDiv20,
.rectangleDiv21 {
  height: 37.04%;
  top: 111.11%;
  right: 1.71%;
  bottom: -48.15%;
  left: 97.27%;
}
.rectangleDiv19,
.rectangleDiv20,
.rectangleDiv21 {
  height: 48.15%;
  top: 103.7%;
  right: 3.41%;
  bottom: -51.85%;
  left: 95.56%;
}
.rectangleDiv20,
.rectangleDiv21 {
  height: 55.56%;
  top: 100%;
  right: 5.12%;
  bottom: -55.56%;
  left: 93.86%;
}
.rectangleDiv21 {
  height: 51.85%;
  top: 103.7%;
  right: 6.83%;
  left: 92.15%;
}
.rectangleDiv22,
.rectangleDiv23,
.rectangleDiv24,
.rectangleDiv25,
.rectangleDiv26,
.rectangleDiv27 {
  position: absolute;
  height: 44.44%;
  width: 1.02%;
  top: 107.41%;
  right: 8.53%;
  bottom: -51.85%;
  left: 90.44%;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-300);
}
.rectangleDiv23,
.rectangleDiv24,
.rectangleDiv25,
.rectangleDiv26,
.rectangleDiv27 {
  height: 33.33%;
  top: 111.11%;
  right: 10.24%;
  bottom: -44.44%;
  left: 88.74%;
}
.rectangleDiv24,
.rectangleDiv25,
.rectangleDiv26,
.rectangleDiv27 {
  height: 51.85%;
  top: 103.7%;
  right: 11.95%;
  bottom: -55.56%;
  left: 87.03%;
}
.rectangleDiv25,
.rectangleDiv26,
.rectangleDiv27 {
  height: 92.59%;
  top: 81.48%;
  right: 13.65%;
  bottom: -74.07%;
  left: 85.32%;
}
.rectangleDiv26,
.rectangleDiv27 {
  height: 33.33%;
  top: 111.11%;
  right: 15.36%;
  bottom: -44.44%;
  left: 83.62%;
}
.rectangleDiv27 {
  height: 66.67%;
  top: 96.3%;
  right: 17.06%;
  bottom: -62.96%;
  left: 81.91%;
}
.rectangleDiv28,
.rectangleDiv29,
.rectangleDiv30,
.rectangleDiv31,
.rectangleDiv32,
.rectangleDiv33,
.rectangleDiv34,
.rectangleDiv35,
.rectangleDiv36 {
  position: absolute;
  height: 81.48%;
  width: 1.02%;
  top: 88.89%;
  right: 48.46%;
  bottom: -70.37%;
  left: 50.51%;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-300);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.rectangleDiv29,
.rectangleDiv30,
.rectangleDiv31,
.rectangleDiv32,
.rectangleDiv33,
.rectangleDiv34,
.rectangleDiv35,
.rectangleDiv36 {
  height: 66.67%;
  top: 96.3%;
  right: 46.76%;
  bottom: -62.96%;
  left: 52.22%;
}
.rectangleDiv30,
.rectangleDiv31,
.rectangleDiv32,
.rectangleDiv33,
.rectangleDiv34,
.rectangleDiv35,
.rectangleDiv36 {
  height: 48.15%;
  top: 103.7%;
  right: 45.05%;
  bottom: -51.85%;
  left: 53.92%;
}
.rectangleDiv31,
.rectangleDiv32,
.rectangleDiv33,
.rectangleDiv34,
.rectangleDiv35,
.rectangleDiv36 {
  height: 55.56%;
  top: 100%;
  right: 43.34%;
  bottom: -55.56%;
  left: 55.63%;
}
.rectangleDiv32,
.rectangleDiv33,
.rectangleDiv34,
.rectangleDiv35,
.rectangleDiv36 {
  right: 41.64%;
  left: 57.34%;
}
.rectangleDiv33,
.rectangleDiv34,
.rectangleDiv35,
.rectangleDiv36 {
  height: 77.78%;
  top: 88.89%;
  right: 39.93%;
  bottom: -66.67%;
  left: 59.04%;
}
.rectangleDiv34,
.rectangleDiv35,
.rectangleDiv36 {
  height: 48.15%;
  top: 103.7%;
  right: 38.23%;
  bottom: -51.85%;
  left: 60.75%;
}
.rectangleDiv35,
.rectangleDiv36 {
  height: 70.37%;
  top: 92.59%;
  right: 36.52%;
  bottom: -62.96%;
  left: 62.46%;
}
.rectangleDiv36 {
  height: 100%;
  top: 77.78%;
  right: 34.81%;
  bottom: -77.78%;
  left: 64.16%;
}
.rectangleDiv37,
.rectangleDiv38,
.rectangleDiv39,
.rectangleDiv40,
.rectangleDiv41,
.rectangleDiv42,
.rectangleDiv43,
.rectangleDiv44,
.rectangleDiv45,
.rectangleDiv46 {
  position: absolute;
  height: 77.78%;
  width: 1.02%;
  top: 88.89%;
  right: 33.11%;
  bottom: -66.67%;
  left: 65.87%;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-300);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.rectangleDiv38,
.rectangleDiv39,
.rectangleDiv40,
.rectangleDiv41,
.rectangleDiv42,
.rectangleDiv43,
.rectangleDiv44,
.rectangleDiv45,
.rectangleDiv46 {
  right: 31.4%;
  left: 67.58%;
}
.rectangleDiv39,
.rectangleDiv40,
.rectangleDiv41,
.rectangleDiv42,
.rectangleDiv43,
.rectangleDiv44,
.rectangleDiv45,
.rectangleDiv46 {
  height: 55.56%;
  top: 100%;
  right: 29.69%;
  bottom: -55.56%;
  left: 69.28%;
}
.rectangleDiv40,
.rectangleDiv41,
.rectangleDiv42,
.rectangleDiv43,
.rectangleDiv44,
.rectangleDiv45,
.rectangleDiv46 {
  height: 51.85%;
  top: 103.7%;
  right: 27.99%;
  left: 70.99%;
}
.rectangleDiv41,
.rectangleDiv42,
.rectangleDiv43,
.rectangleDiv44,
.rectangleDiv45,
.rectangleDiv46 {
  height: 44.44%;
  top: 107.41%;
  right: 26.28%;
  bottom: -51.85%;
  left: 72.7%;
}
.rectangleDiv42,
.rectangleDiv43,
.rectangleDiv44,
.rectangleDiv45,
.rectangleDiv46 {
  height: 33.33%;
  top: 111.11%;
  right: 24.57%;
  bottom: -44.44%;
  left: 74.4%;
}
.rectangleDiv43,
.rectangleDiv44,
.rectangleDiv45,
.rectangleDiv46 {
  height: 51.85%;
  top: 103.7%;
  right: 22.87%;
  bottom: -55.56%;
  left: 76.11%;
}
.rectangleDiv44,
.rectangleDiv45,
.rectangleDiv46 {
  height: 70.37%;
  top: 92.59%;
  right: 21.16%;
  bottom: -62.96%;
  left: 77.82%;
}
.rectangleDiv45,
.rectangleDiv46 {
  height: 33.33%;
  top: 111.11%;
  right: 19.45%;
  bottom: -44.44%;
  left: 79.52%;
}
.rectangleDiv46 {
  height: 66.67%;
  top: 96.3%;
  right: 17.75%;
  bottom: -62.96%;
  left: 81.23%;
}
.rectangleDiv47,
.rectangleDiv48,
.rectangleDiv49,
.rectangleDiv50,
.rectangleDiv51,
.rectangleDiv52 {
  position: absolute;
  height: 81.48%;
  width: 1.02%;
  top: 88.89%;
  right: 51.19%;
  bottom: -70.37%;
  left: 47.78%;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-300);
}
.rectangleDiv48,
.rectangleDiv49,
.rectangleDiv50,
.rectangleDiv51,
.rectangleDiv52 {
  height: 100%;
  top: 77.78%;
  right: 52.9%;
  bottom: -77.78%;
  left: 46.08%;
}
.rectangleDiv49,
.rectangleDiv50,
.rectangleDiv51,
.rectangleDiv52 {
  height: 48.15%;
  top: 103.7%;
  right: 54.61%;
  bottom: -51.85%;
  left: 44.37%;
}
.rectangleDiv50,
.rectangleDiv51,
.rectangleDiv52 {
  height: 55.56%;
  top: 100%;
  right: 56.31%;
  bottom: -55.56%;
  left: 42.66%;
}
.rectangleDiv51,
.rectangleDiv52 {
  right: 58.02%;
  left: 40.96%;
}
.rectangleDiv52 {
  height: 44.44%;
  top: 107.41%;
  right: 59.73%;
  bottom: -51.85%;
  left: 39.25%;
}
.rectangle187Copy1,
.rectangle187Copy21,
.rectangle187Copy31,
.rectangle187Copy41,
.rectangle187Copy6,
.rectangle187Copy7,
.rectangleDiv53 {
  position: absolute;
  height: 11.11%;
  width: 1.02%;
  top: 125.93%;
  right: 66.55%;
  bottom: -37.04%;
  left: 32.42%;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-300);
}
.rectangle187Copy1,
.rectangle187Copy21,
.rectangle187Copy41,
.rectangle187Copy6,
.rectangle187Copy7,
.rectangleDiv53 {
  right: 68.26%;
  left: 30.72%;
}
.rectangle187Copy1,
.rectangle187Copy21,
.rectangle187Copy6,
.rectangle187Copy7,
.rectangleDiv53 {
  right: 69.97%;
  left: 29.01%;
}
.rectangle187Copy1,
.rectangle187Copy21,
.rectangle187Copy7,
.rectangleDiv53 {
  right: 71.67%;
  left: 27.3%;
}
.rectangle187Copy1,
.rectangle187Copy21,
.rectangleDiv53 {
  height: 25.93%;
  top: 118.52%;
  right: 63.14%;
  bottom: -44.44%;
  left: 35.84%;
  border-radius: var(--br-xl);
}
.rectangle187Copy1,
.rectangleDiv53 {
  height: 33.33%;
  top: 114.81%;
  right: 61.43%;
  bottom: -48.15%;
  left: 37.54%;
}
.rectangle187Copy1 {
  height: 18.52%;
  top: 122.22%;
  right: 64.85%;
  bottom: -40.74%;
  left: 34.13%;
}
.timelineDiv,
.timelineDiv1 {
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.timelineDiv1 {
  position: relative;
  background-color: var(--color-brown);
  width: 210.96px;
  height: 19.44px;
}
.timelineDiv {
  position: absolute;
  height: 36.49%;
  width: 65.11%;
  top: 28.38%;
  right: -48%;
  bottom: 35.14%;
  left: 82.89%;
}
.messageDiv1,
.playIcon {
  position: absolute;
  overflow: hidden;
}
.playIcon {
  height: 54.05%;
  width: 8.89%;
  top: 20.27%;
  right: 85.56%;
  bottom: 25.68%;
  left: 5.56%;
  max-width: 100%;
  max-height: 100%;
}
.messageDiv1 {
  top: 0;
  left: 0;
  width: 324px;
  height: 53.28px;
}
.yesterday1926PM {
  position: absolute;
  width: 100%;
  top: calc(50% - 6.32px);
  right: 0;
  left: 0;
  line-height: 12px;
  display: inline-block;
}
.dateDiv1 {
  position: absolute;
  top: 55.44px;
  left: 18px;
  width: 77.04px;
  height: 8.64px;
  overflow: hidden;
  opacity: 0.3;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-3xs);
}
.item3Div {
  position: absolute;
  top: 144px;
  left: 0;
  width: 324px;
  height: 64.08px;
  text-align: right;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-400);
}
.valueB1 {
  position: absolute;
  width: 86.52%;
  top: calc(50% - 21.64px);
  right: 6.74%;
  left: 6.74%;
  line-height: 18px;
  display: inline-block;
  height: 36px;
}
.dateDiv2,
.messageDiv2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 267.12px;
  height: 53.28px;
  overflow: hidden;
}
.dateDiv2 {
  top: 55.44px;
  left: 172.08px;
  width: 77.04px;
  height: 8.64px;
  opacity: 0.3;
  mix-blend-mode: normal;
  text-align: right;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-400);
}
.item2Div {
  position: absolute;
  top: 65.52px;
  left: 102.24px;
  width: 267.12px;
  height: 64.08px;
}
.valueB2 {
  position: absolute;
  width: 73.96%;
  top: calc(50% - 15.16px);
  right: 13.02%;
  left: 13.02%;
  line-height: 22px;
  display: inline-block;
}
.dateDiv3,
.messageDiv3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 138.24px;
  height: 40.32px;
  overflow: hidden;
}
.dateDiv3 {
  top: 42.48px;
  left: 18px;
  width: 77.04px;
  height: 8.64px;
  opacity: 0.3;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-3xs);
}
.item1Div {
  position: absolute;
  top: 0;
  left: 0;
  width: 138.24px;
  height: 51.12px;
  text-align: center;
  color: var(--color-gray-400);
}
.messagesDiv1 {
  position: absolute;
  top: 81.36px;
  left: 10.8px;
  width: 369.36px;
  height: 286.56px;
  color: var(--color-white);
}
.lineDiv {
  position: absolute;
  height: 1.2%;
  width: 100%;
  top: 98.8%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
  box-shadow: 24px 0 24px rgba(0, 0, 0, 0.02);
}
.optionsIcon1 {
  position: absolute;
  top: calc(50% - 29.88px);
  right: 29.96px;
  width: 26px;
  height: 6px;
  opacity: 0.3;
  mix-blend-mode: normal;
}
.videoCallIcon {
  height: 16.87%;
  width: 4.42%;
  top: 9.64%;
  right: 14.36%;
  bottom: 73.49%;
  left: 81.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.3;
}
.callIcon,
.lastSeen3HoursAg,
.videoCallIcon {
  position: absolute;
  mix-blend-mode: normal;
}
.callIcon {
  height: 19.28%;
  width: 3.01%;
  top: 8.43%;
  right: 22.95%;
  bottom: 72.29%;
  left: 74.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.3;
}
.lastSeen3HoursAg {
  width: 91.78%;
  top: calc(50% - 10.92px);
  right: 0;
  left: 8.22%;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  height: 22px;
  opacity: 0.4;
}
.lastSeenDiv,
.oval2Icon {
  position: absolute;
  overflow: hidden;
}
.oval2Icon {
  height: 18.18%;
  width: 2.74%;
  top: 45.45%;
  right: 97.26%;
  bottom: 36.36%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.lastSeenDiv {
  height: 43.14%;
  width: 56.59%;
  top: 56.86%;
  right: 0;
  bottom: 0;
  left: 43.41%;
}
.offlineDiv {
  position: absolute;
  width: 100%;
  top: calc(50% - 10.92px);
  right: 0;
  left: 0;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.onlineDiv {
  position: absolute;
  height: 43.14%;
  width: 16.67%;
  top: 56.86%;
  right: 59.69%;
  bottom: 0;
  left: 23.64%;
  overflow: hidden;
}
.tobiasWilliamsDiv {
  position: absolute;
  width: 99.21%;
  top: calc(50% - 10.92px);
  right: 0.79%;
  left: 0;
  line-height: 22px;
  font-weight: 900;
  display: inline-block;
}
.avatarIcon,
.nameDiv {
  position: absolute;
  overflow: hidden;
}
.nameDiv {
  height: 43.14%;
  width: 49.22%;
  top: 3.92%;
  right: 27.13%;
  bottom: 52.94%;
  left: 23.64%;
  font-size: var(--font-size-sm);
}
.avatarIcon {
  height: 98.04%;
  width: 17.83%;
  top: 0;
  right: 82.17%;
  bottom: 1.96%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.userInformationDiv {
  position: absolute;
  height: 61.45%;
  width: 47.51%;
  top: 0;
  right: 47.15%;
  bottom: 38.55%;
  left: 5.34%;
}
.chatDiv1,
.headerDiv {
  position: absolute;
  width: 390.96px;
}
.headerDiv {
  top: 0;
  left: 0;
  height: 59.76px;
  overflow: hidden;
  font-size: var(--font-size-2xs);
}
.chatDiv1 {
  top: 20.16px;
  left: 393.84px;
  height: 555.84px;
  font-size: var(--font-size-xs);
}
.placeholderDiv2 {
  background: linear-gradient(135deg, #fff, #f8f8f8 70.12%, #fff);
  width: 223.2px;
}
.backgroundDiv,
.lineDiv1,
.placeholderDiv2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 576px;
}
.lineDiv1 {
  background-color: var(--color-gray-200);
  box-shadow: 24px 0 24px rgba(0, 0, 0, 0.02);
  width: 0.72px;
}
.backgroundDiv {
  width: 223.2px;
}
.imageIcon,
.imageIcon1,
.imageIcon2 {
  position: absolute;
  top: -22px;
  left: 95.28px;
  width: 114.72px;
  height: 114.72px;
  object-fit: cover;
}
.imageIcon1,
.imageIcon2 {
  left: 32.64px;
}
.imageIcon2 {
  left: -30px;
}
.imagesDiv {
  position: absolute;
  top: 24.48px;
  left: 0;
  width: 180px;
  height: 54.72px;
}
.arrowIcon {
  position: absolute;
  top: calc(50% - 3.12px);
  right: 0;
  width: 4.72px;
  height: 8px;
}
.seeAllDiv {
  position: absolute;
  width: 78.43%;
  top: calc(50% - 9.12px);
  right: 21.57%;
  left: 0;
  display: inline-block;
}
.linkAllDiv {
  position: absolute;
  height: 100%;
  width: 20.4%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 79.6%;
  overflow: hidden;
}
.media31B {
  position: absolute;
  width: 26.8%;
  top: calc(50% - 9.12px);
  right: 73.2%;
  left: 0;
  display: inline-block;
  color: var(--color-gray-500);
  opacity: 0.4;
  mix-blend-mode: normal;
}
.titleDiv {
  top: 0;
  left: 0;
  height: 12.24px;
  overflow: hidden;
}
.lineDiv2,
.mediaFilesDiv,
.titleDiv {
  position: absolute;
  width: 180px;
}
.mediaFilesDiv {
  top: 434.16px;
  left: 21.6px;
  height: 79.2px;
  color: var(--color-brown);
}
.lineDiv2 {
  top: 96.48px;
  left: 0;
  background-color: var(--color-gray-200);
  box-shadow: 24px 0 24px rgba(0, 0, 0, 0.02);
  height: 0.72px;
}
.div8 {
  width: 58.54%;
  top: calc(50% - 9.12px);
  right: 0;
  left: 41.46%;
  display: inline-block;
}
.dOB,
.dOBDiv,
.div8 {
  position: absolute;
}
.dOB {
  width: 28.46%;
  top: calc(50% - 9.12px);
  right: 71.54%;
  left: 0;
  display: inline-block;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.dOBDiv {
  top: 64.08px;
  left: 6.48px;
  width: 88.56px;
  height: 12.24px;
  overflow: hidden;
}
.eMailB,
.infouxdesignerimDiv {
  position: absolute;
  top: calc(50% - 9.12px);
  display: inline-block;
}
.infouxdesignerimDiv {
  width: 67.04%;
  right: 0;
  left: 32.96%;
  height: 17px;
}
.eMailB {
  width: 24.02%;
  right: 75.98%;
  left: 0;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.eMailDiv {
  position: absolute;
  top: 41.04px;
  left: 0.72px;
  width: 128.88px;
  height: 12.24px;
  overflow: hidden;
}
.div9,
.phoneB {
  top: calc(50% - 9.12px);
  display: inline-block;
}
.div9 {
  position: absolute;
  width: 67.21%;
  right: 0;
  left: 32.79%;
  height: 17px;
}
.phoneB {
  width: 24.04%;
  right: 75.96%;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.lineDiv3,
.phoneB,
.phoneDiv {
  position: absolute;
  left: 0;
}
.phoneDiv {
  top: 18px;
  width: 131.76px;
  height: 12.24px;
  overflow: hidden;
}
.lineDiv3 {
  top: 0;
  background-color: var(--color-gray-200);
  box-shadow: 24px 0 24px rgba(0, 0, 0, 0.02);
  width: 180px;
  height: 0.72px;
}
.contactsDiv,
.socialIcon {
  position: absolute;
  top: 320.4px;
  left: 21.6px;
  width: 180px;
  height: 97.2px;
}
.socialIcon {
  top: 265.2px;
  left: 48.24px;
  width: 126.72px;
  height: 57.6px;
}
.activityDiv,
.helpPeopleToBuild {
  position: absolute;
  width: 180px;
  height: 24.48px;
}
.helpPeopleToBuild {
  top: 0;
  left: 0;
  display: inline-block;
}
.activityDiv {
  top: 229.68px;
  left: 21.6px;
  text-align: center;
}
.parisFranceDiv {
  position: absolute;
  width: 100%;
  top: calc(50% - 9.84px);
  right: 0;
  left: 0;
  display: inline-block;
  height: 19px;
}
.placeDiv {
  position: absolute;
  top: 201.6px;
  left: 79.92px;
  width: 64.08px;
  height: 13.68px;
  overflow: hidden;
  opacity: 0.4;
  mix-blend-mode: normal;
  font-size: var(--font-size-xs);
}
.tobiasWilliamsDiv1 {
  position: absolute;
  width: 99.29%;
  top: calc(50% - 10.92px);
  right: 0.71%;
  left: 0;
  line-height: 22px;
  font-weight: 900;
  display: inline-block;
}
.nameDiv1 {
  position: absolute;
  top: 178.56px;
  left: 61.2px;
  width: 101.52px;
  height: 15.84px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.avatarIcon1,
.crossIcon {
  position: absolute;
  top: 39.6px;
  left: 54px;
  width: 115.2px;
  height: 120.96px;
}
.crossIcon {
  top: 21.6px;
  left: 187.2px;
  width: 14.4px;
  height: 14.4px;
}
.aboutUserDiv {
  left: 784.8px;
  width: 223.2px;
}
.aboutUserDiv,
.lineDiv4,
.placeholderDiv3 {
  position: absolute;
  top: 0;
  height: 576px;
}
.placeholderDiv3 {
  left: 0;
  background: linear-gradient(135deg, #fff, #f8f8f8 65.34%, #fff);
  width: 321.84px;
}
.lineDiv4 {
  left: 321.12px;
  background-color: var(--color-gray-200);
  box-shadow: 24px 0 24px rgba(0, 0, 0, 0.02);
  width: 0.72px;
}
.backgroundDiv1,
.placeholderDiv4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 321.84px;
  height: 576px;
}
.placeholderDiv4 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  box-shadow: 0 22px 50px rgba(0, 0, 0, 0.08);
  width: 278.64px;
  height: 102.96px;
}
.div10,
.welcomeToTheCommu {
  position: absolute;
  display: inline-block;
}
.welcomeToTheCommu {
  top: 1.44px;
  left: 0;
  line-height: 22px;
  width: 235.44px;
  height: 15.84px;
}
.div10 {
  width: 34.62%;
  top: calc(50% - 9.36px);
  right: 30.77%;
  left: 34.62%;
  font-weight: 900;
}
.countDiv,
.messageDiv4 {
  position: absolute;
  height: 18.72px;
}
.countDiv {
  top: 0;
  left: 216.72px;
  width: 18.72px;
  overflow: hidden;
  color: var(--color-white);
}
.messageDiv4 {
  top: 63.36px;
  left: 21.6px;
  width: 235.44px;
}
.sep2018Div {
  position: absolute;
  width: 100%;
  top: calc(50% - 10.92px);
  right: 0;
  left: 0;
  line-height: 22px;
  display: inline-block;
  height: 22px;
}
.onlineDiv2,
.timeDiv {
  position: absolute;
  opacity: 0.3;
  mix-blend-mode: normal;
}
.timeDiv {
  top: 20.16px;
  left: 192.24px;
  width: 64.8px;
  height: 15.84px;
  overflow: hidden;
  text-align: right;
  font-size: var(--font-size-xs);
}
.onlineDiv2 {
  width: 100%;
  top: calc(50% - 10.92px);
  right: 0;
  left: 0;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  height: 22px;
}
.onlineDiv1 {
  position: absolute;
  top: 38.88px;
  left: 65.52px;
  width: 29.52px;
  height: 15.84px;
  overflow: hidden;
}
.stevenNortonDiv {
  position: absolute;
  width: 100%;
  top: calc(50% - 10.92px);
  right: 0;
  left: 0;
  line-height: 22px;
  font-weight: 900;
  display: inline-block;
}
.nameDiv2 {
  position: absolute;
  top: 19.44px;
  left: 65.52px;
  width: 84.96px;
  height: 15.84px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.avatarIcon2 {
  position: absolute;
  top: 18px;
  left: 21.6px;
  width: 33.12px;
  height: 36px;
}
.item5Div,
.placeholderDiv5 {
  position: absolute;
  top: 469.44px;
  left: 0;
  width: 278.64px;
  height: 102.96px;
}
.placeholderDiv5 {
  top: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
}
.iWillMissYouToo {
  position: absolute;
  top: 0;
  left: 18.72px;
  line-height: 22px;
  display: inline-block;
  width: 216.72px;
  height: 15.84px;
}
.replyIcon {
  position: relative;
  width: 11.52px;
  height: 10.08px;
  opacity: 0.3;
  mix-blend-mode: normal;
}
.countDiv1 {
  position: absolute;
  top: -2.16px;
  left: 216.72px;
  width: 18.72px;
  height: 18.72px;
  overflow: hidden;
  display: none;
}
.messageDiv5 {
  position: absolute;
  top: 65.52px;
  left: 21.6px;
  width: 235.44px;
  height: 15.84px;
}
.jenniferWatkinsDiv {
  position: absolute;
  width: 99.27%;
  top: calc(50% - 10.92px);
  right: 0.73%;
  left: 0;
  line-height: 22px;
  font-weight: 900;
  display: inline-block;
  height: 22px;
}
.nameDiv3 {
  position: absolute;
  top: 19.44px;
  left: 65.52px;
  width: 98.64px;
  height: 15.84px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.item4Div1 {
  position: absolute;
  top: 352.08px;
  left: 0;
  width: 278.64px;
  height: 102.96px;
}
.placeholderDiv6 {
  left: 0;
  border-radius: var(--br-xs);
  background-color: #292f4c;
  width: 278.64px;
}
.baseDiv1,
.lineDiv5,
.placeholderDiv6,
.shadowDiv {
  position: absolute;
  top: 0;
  height: 102.96px;
}
.shadowDiv {
  left: 0.72px;
  background: linear-gradient(-90deg, #292f4c 1.96%, #f04242);
  width: 12.96px;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.baseDiv1,
.lineDiv5 {
  left: 0;
}
.baseDiv1 {
  background: linear-gradient(180deg, #f85252, #f04242);
  width: 2.88px;
}
.lineDiv5 {
  width: 13.68px;
}
.replyIcon1 {
  position: relative;
  width: 11.52px;
  height: 10.08px;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.countDiv2 {
  position: absolute;
  top: -1.44px;
  left: 216.72px;
  width: 18.72px;
  height: 18.72px;
  overflow: hidden;
  display: none;
  color: var(--color-gray-500);
}
.messageDiv6 {
  position: absolute;
  top: 64.8px;
  left: 21.6px;
  width: 235.44px;
  height: 15.84px;
}
.amDiv {
  position: absolute;
  width: 100%;
  top: calc(50% - 10.92px);
  right: 0;
  left: 0;
  line-height: 22px;
  display: inline-block;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.nameDiv4,
.onlineDiv5,
.timeDiv2 {
  position: absolute;
  height: 15.84px;
  overflow: hidden;
}
.timeDiv2 {
  top: 20.16px;
  left: 208.8px;
  width: 48.24px;
  text-align: right;
  font-size: var(--font-size-xs);
}
.nameDiv4,
.onlineDiv5 {
  top: 38.88px;
  left: 65.52px;
  width: 30.96px;
}
.nameDiv4 {
  top: 19.44px;
  width: 91.44px;
  font-size: var(--font-size-sm);
}
.item3Div1 {
  position: absolute;
  top: 234.72px;
  left: 0;
  width: 278.64px;
  height: 102.96px;
  color: var(--color-white);
}
.itSeemsLogicalTha {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
  display: inline-block;
  width: 235.44px;
  height: 15.84px;
}
.countDiv3 {
  position: absolute;
  top: -2.16px;
  left: 216.72px;
  width: 18.72px;
  height: 18.72px;
  overflow: hidden;
  display: none;
  color: var(--color-white);
}
.pmDiv {
  position: absolute;
  width: 100%;
  top: calc(50% - 9.92px);
  right: 0;
  left: 0;
  line-height: 22px;
  display: inline-block;
}
.timeDiv3 {
  position: absolute;
  top: 19.44px;
  left: 208.08px;
  width: 48.96px;
  height: 15.84px;
  overflow: hidden;
  opacity: 0.3;
  mix-blend-mode: normal;
  text-align: right;
  font-size: var(--font-size-xs);
}
.annaDormunDiv,
.offlineDiv2 {
  position: absolute;
  top: calc(50% - 10.92px);
  left: 0;
  line-height: 22px;
  display: inline-block;
}
.offlineDiv2 {
  width: 100%;
  right: 0;
  font-weight: 500;
  opacity: 0.3;
  mix-blend-mode: normal;
}
.annaDormunDiv {
  width: 99.12%;
  right: 0.88%;
  font-weight: 900;
  height: 22px;
}
.nameDiv5 {
  position: absolute;
  top: 19.44px;
  left: 65.52px;
  width: 82.08px;
  height: 15.84px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.item2Div1,
.placeholderDiv8 {
  position: absolute;
  top: 117.36px;
  left: 0;
  width: 278.64px;
  height: 102.96px;
}
.placeholderDiv8 {
  top: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}
.analysisOfForeign,
.hAgoDiv {
  position: absolute;
  left: 0;
  line-height: 22px;
  display: inline-block;
}
.analysisOfForeign {
  top: 2.16px;
  width: 235.44px;
  height: 15.84px;
}
.hAgoDiv {
  width: 100%;
  top: calc(50% - 10.92px);
  right: 0;
}
.timeDiv4 {
  position: absolute;
  top: 20.16px;
  left: 222.48px;
  width: 34.56px;
  height: 15.84px;
  overflow: hidden;
  opacity: 0.3;
  mix-blend-mode: normal;
  text-align: right;
  font-size: var(--font-size-xs);
}
.donaldJohnsonDiv {
  position: absolute;
  width: 99.23%;
  top: calc(50% - 10.92px);
  right: 0.77%;
  left: 0;
  line-height: 22px;
  font-weight: 900;
  display: inline-block;
  height: 22px;
}
.nameDiv6 {
  position: absolute;
  top: 19.44px;
  left: 65.52px;
  width: 93.6px;
  height: 15.84px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.dialogueItemsDiv,
.item1Div1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 278.64px;
  height: 102.96px;
}
.dialogueItemsDiv {
  top: 106.56px;
  left: 21.6px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.04);
  height: 572.4px;
  text-align: left;
}
.crossIcon1,
.dotIcon5 {
  position: absolute;
  height: 100%;
  width: 47.14%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 52.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.crossIcon1 {
  height: 35.16%;
  width: 10.66%;
  top: 32.42%;
  right: 9.82%;
  bottom: 32.42%;
  left: 79.52%;
}
.addNewB {
  position: absolute;
  width: 59.6%;
  top: calc(50% - 6.8px);
  right: 40.4%;
  left: 0;
  line-height: 14px;
  display: inline-block;
  opacity: 0.3;
  mix-blend-mode: normal;
}
.addNewDiv {
  position: absolute;
  top: 0;
  left: 207.36px;
  width: 71.28px;
  height: 21.6px;
  overflow: hidden;
}
.arrowDownIcon {
  position: absolute;
  top: calc(50% - 2.04px);
  right: -0.12px;
  width: 10px;
  height: 6px;
}
.latestFirstDiv,
.sortBy {
  position: absolute;
  top: calc(50% - 7.04px);
  line-height: 14px;
  display: inline-block;
}
.sortBy {
  width: 32.47%;
  right: 67.53%;
  left: 0;
  opacity: 0.3;
  mix-blend-mode: normal;
}
.latestFirstDiv {
  width: 44.81%;
  right: 12.99%;
  left: 42.21%;
}
.drowdownSortBy {
  position: absolute;
  top: 5.76px;
  left: 0;
  width: 110.88px;
  height: 10.08px;
  overflow: hidden;
  text-align: left;
}
.actionsDiv {
  position: absolute;
  top: 70.56px;
  left: 21.6px;
  width: 278.64px;
  height: 21.6px;
}
.b,
.shapeIcon {
  mix-blend-mode: normal;
}
.shapeIcon {
  position: relative;
  width: 12.96px;
  height: 18.72px;
  opacity: 0.2;
}
.b {
  position: absolute;
  width: 47.17%;
  top: calc(50% - 8.36px);
  right: 52.83%;
  left: 0;
  display: inline-block;
  opacity: 0.3;
}
.bookmarksDiv {
  position: absolute;
  top: 7.92px;
  left: 240.48px;
  width: 38.16px;
  height: 18.72px;
  overflow: hidden;
}
.baseDiv2 {
  position: absolute;
  height: calc(100% - -0.44px);
  width: 100%;
  top: 0;
  right: 0;
  bottom: -0.44px;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
}
.baseDiv2,
.searchIcon,
.valueDiv1 {
  opacity: 0.3;
  mix-blend-mode: normal;
}
.valueDiv1 {
  position: absolute;
  top: calc(50% - 17.28px);
  left: 63px;
  line-height: 24px;
  display: inline-block;
}
.searchIcon {
  position: relative;
  width: 12.96px;
  height: 12.96px;
}
.inputSearch {
  position: absolute;
  top: 0;
  left: 0;
  width: 216px;
  height: 34.56px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
}
.dialoguesDiv,
.headerDiv1 {
  position: absolute;
  top: 21.6px;
  left: 21.6px;
  width: 278.64px;
  height: 34.56px;
}
.dialoguesDiv {
  top: 0;
  left: 72px;
  width: 321.84px;
  height: 678.96px;
  text-align: right;
}
.leftMenuIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 576px;
  overflow: hidden;
  object-fit: cover;
}
.directMessagingDiv,
.groupDiv {
  position: absolute;
  width: 1008px;
  height: 576px;
}
.directMessagingDiv {
  top: 0;
  left: 0;
  box-shadow: 58px 45px 7px rgba(24, 28, 47, 0.03);
}
.groupDiv {
  top: 1582px;
  left: 216px;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-500);
  font-family: var(--font-lato);
}
.icons8Star641,
.icons8Star642,
.icons8Star643,
.icons8Star644,
.icons8Star645 {
  position: absolute;
  top: 3098px;
  left: 828px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.icons8Star642,
.icons8Star643,
.icons8Star644,
.icons8Star645 {
  left: 864px;
}
.icons8Star643,
.icons8Star644,
.icons8Star645 {
  left: 900px;
}
.icons8Star644,
.icons8Star645 {
  left: 936px;
}
.icons8Star645 {
  left: 972px;
}
.lineDiv6 {
  position: absolute;
  top: 3069.5px;
  left: 828.5px;
  border-top: 1px solid var(--color-indigo-100);
  box-sizing: border-box;
  width: 321px;
  height: 1px;
}
.pexelsCanvaStudio31532011Icon {
  position: absolute;
  top: 2753px;
  left: 0;
  width: 763px;
  height: 553px;
  object-fit: cover;
}
.chatapp1 {
  position: absolute;
  top: 3457px;
  left: 119px;
  font-size: var(--font-size-xl);
  color: #0029ff;
  text-align: center;
  display: inline-block;
  width: 177px;
  height: 52px;
  cursor: pointer;
  font-family: var(--font-podkova);
}
.yourDesignSection {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3796px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-manjari);
}
